[{d5manapi, [
	{ip, {127, 0, 0, 1}},
	{port, 7450},
	{redirect_url_prefix, "http://127.0.0.1:7450/rrman/"},
	{fs, #{
		ial => "/data/main/mdvl/rr/br-ial-homepage",
		rrman => "/data/main/man/rr",
		local => "/data/main/mdvl/rr/br-ial-local"
	}},
	{db_roots, [
		"/data/main/man/x_dev/work/0renewal/d5man_root",
		"/data/main/man/rr",
		"/data/main/mdvl/rr"
	]}
]}].
