[{d5manapi, [
	{ip, {127, 0, 0, 1}},
	{port, 7450},
	{redirect_url_prefix, "http://127.0.0.1:7450/rrman/"},
	{fs, #{
		rrman => "/data/main/119_man_rr",
		ial   => "/data/main/120_mdvl_rr/120.004-bo-d5man2/ial/home",
		local => "/data/main/120_mdvl_rr/br-ial-local"
	}},
	{db_roots, [
		"/data/main/119_man_rr",
		"/data/main/120_mdvl_rr"
	]}
]}].
