/* -- Minimal Working Style ------------------------------------------------- */
#ial15_entry_current { font-weight: bold; }

/* -- Layout ---------------------------------------------------------------- */
body, h1, h2, ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
li {
	white-space: nowrap;
}
h2 {
	font-size: 100%;
	clear: both;
}
body {
	display: flex;
	flex-direction: row;
	height: 100vh; /* set to screen height */
}
#leftmost, #middle, #locall {
	padding: 10px;
}
#leftmost {
	width: 256px;
	min-width: 256px;
}
#middle {
	width: 640px;
	min-width: 640px;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
#search_in {
	margin-bottom: 10px;
}
#search_out {
	overflow-y: auto;
	flex-grow: 1;
}
#smallprint {
	margin-top: 10px;
}
#logo, #search_in, #smallprint {
	flex-grow: 0;
	flex-shrink: 0;
}
#locall li {
	float: left;
	margin-right: 1ex;
}

/* -- Fonts + Colors -------------------------------------------------------- */

body, input {
	background-color: #000000;
	color: #ffffff;
	font-family: "Terminus", "Terminuts TTF", "Lucida Console", Consolas, monospace;
	font-size: 18px;
}
input:focus {
	border-color: #ffffff;
}
input {
	width: 314px;
}
#search_out, input {
	border: 1px solid #808080;
}
a:link, a:visited {
	color: #ff0000;
}
#middle {
	border-left: 1px solid #ff0000;
	border-right: 1px solid #ff0000;
}
#search_out a:link, #search_out a:visited {
	color: #ffffff;
	text-decoration: none;
}
#ial15_entry_current, #ial15_entry_current a:link,
#ial15_entry_current a:visited {
	color: #000000;
	background-color: #ffffff;
}
