{erl_opts, [debug_info]}.
{deps, [
	%{cecho, {git, "https://github.com/mazenharake/cecho.git", {branch, "master"}}},
	{yamerl, "0.10.0"}
]}.
{relx, [
	{release, {d5mantui, "4.0.0"}, [d5mantui4, sasl, yamerl]},
	{mode, dev},
	{include_erts, false},
	{extended_start_script, true}
]}.
{shell, [
	{apps, [kernel, stdlib, sasl, yamerl]}
]}.
