{erl_opts, [debug_info]}.
{deps, [
	{cecho, {git, "https://github.com/mazenharake/cecho.git", {branch, "master"}}},
	{yamerl, "0.10.0"}
]}.

% https://rebar3.org/docs/deployment/releases/
{relx, [
	{release, {d5mantui, "4.0.0"}, [d5mantui4]},
	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}
]}.

%{shell, [
%	% {config, "config/sys.config"},
%	{apps, [d5mantui4]}
%]}.
